*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    background: linear-gradient(135deg, #00205B, #BA0C2F);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    text-align: center;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.countdown{
    display: flex;
    gap:20px;
    font-size: 2rem;
}

.box {
  background: rgba(255,255,255,0.15);
  padding: 20px 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

span{
    display: block;
    color: yellow;
    font-size: 1.5rem;
}

footer{
    margin-top: 40px;
    font-size: 0.9rem;
    opacity: 0.8;
}